<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-2"><%= image_tag "haha.jpg", class:"img-responsive" %></div>
        <div class="col-md-3 col-sm-2"><%= image_tag "booktour.jpeg", class:"img-responsive" %></div>
        <div class="col-md-3 col-sm-5"><%= image_tag "slider1.jpg", class:"img-responsive" %></div>
        <div class="col-md-3 col-sm-3"><%= image_tag "usertourist.jpg", class:"img-responsive" %></div>
    </div>
</div>